<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
</head>
<body>
    <h1>登録済みユーザー一覧</h1>
	<form th:action="@{/list}" method="get">
	    <input type="text" name="keyword" th:value="${keyword}" placeholder="名前で検索" />
	    <button type="submit">検索</button>
		<br>
	</form>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メール</th>
			<th>登録日時</th>
			<th>更新日時</th>
			<th colspan="2">操作</th>
		
        </tr>
		<tr th:each="user : ${userList}">
		    <td th:text="${user.id}"></td>
		    <td th:text="${user.name}"></td>
		    <td th:text="${user.email}"></td>
			<td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${user.updatedAt != null ? #temporals.format(user.updatedAt, 'yyyy-MM-dd HH:mm') : '--'}"></td>

		    <td>
				<a th:href="@{/edit/{id}(id=${user.id})}">編集</a>
		    </td>
			<td>
			    <form th:action="@{/delete/{id}(id=${user.id})}" method="post">
			        <button type="submit">削除</button>
			    </form>
			</td>
		</tr>

    </table>
</body>
</html>
