<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
</head>
<body>
    <h1>登録済みユーザー一覧</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メール</th>
        </tr>
		<tr th:each="user : ${userList}">
		    <td th:text="${user.id}"></td>
		    <td th:text="${user.name}"></td>
		    <td th:text="${user.email}"></td>
		    <td>
		        <form th:action="@{/delete/{id}(id=${user.id})}" method="post">
		            <button type="submit">削除</button>
		        </form>
		    </td>
		    <td>
				<a th:href="@{/edit/{id}(id=${user.id})}">編集</a>
		    </td>
		</tr>

    </table>
</body>
</html>
